footer {
	width: 100%;
	margin-bottom: 8px;
}

footer hr {
	background-color: gray;
	height: 2px;
	border: none;
	border-radius: 1px;
	opacity: 0.6;
	margin: 0 8px 8px 8px;
}

.footer-wrapper {
	display: flex;
	flex-direction: column;
}

.footer-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: auto 12px;
}

.ow-me-foot {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    color: grey;
}

.ow-me-foot#github:hover {
	color: black;
}
.ow-me-foot#twitter:hover {
	color: rgb(77, 147, 227);
}
.ow-me-foot#musescore:hover {
	color: rgb(59, 110, 179);
}
.ow-me-foot#linkedin:hover {
	color: rgb(52, 99, 189);
}
.ow-me-foot#rss:hover {
	color: rgb(231, 139, 57);
}
