header {
	width: 100%;
	margin-bottom: 8px;
}

header hr {
	background-color: gray;

	height: 2px;

	border: none;
	border-radius: 1px;

	opacity: 0.6;

	margin-left: 8px;
	margin-right: 8px;
}

.header-wrapper {
	display: flex;
	flex-direction: column;
}

.header-me {
	display: flex;
	align-items: center;
	margin: auto 12px;
}

.header-avatar {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 128px;
	height: 128px;
	min-width: 128px;
	min-height: 128px;

	border-radius: 64px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	overflow: hidden;

	margin-bottom: 8px;
}

.header-name-and-sub {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin-left: 20px;
}

.header-name {
	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: 32px;

	margin-top: 8px;
	margin-bottom: 8px;
}

.header-subtitle {
	display: flex;
	flex-direction: row;
	align-items: center;

	max-width: 320px;

	font-size: 18px;
}

.header-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: auto 12px;

	overflow-x: auto;
}

.header-link {
	display: flex;
	flex-direction: column;
	align-items: center;

	text-decoration: none;
	color: inherit;
}

.header-img {
	padding-bottom: 8px;
}

.header-separator {
	height: 42px;
	width: 0px;

	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
